{% extends 'base.html' %}

{% block titulo %}Lista de pedidos{% endblock %}

{% block contenido %}

<h1 class="text-3xl font-semibold text-center text-green-600 mb-6">Lista de Pedidos</h1>

<div class="bg-white">
    
    <div class="p-6">
        
        <table class="min-w-full table-auto">
            <thead class="bg-gray-100">
                <tr>
                    <th class="px-6 py-3 text-left text-sm font-medium text-gray-500">ID</th>
                    <th class="px-6 py-3 text-left text-sm font-medium text-gray-500">Fecha Pedido</th>
                    <th class="px-6 py-3 text-left text-sm font-medium text-gray-500">Fecha entrega</th>
                    <th class="px-6 py-3 text-left text-sm font-medium text-gray-500">Total</th>
                    <th class="px-6 py-3 text-left text-sm font-medium text-gray-500">Estado</th>
<!--                <th class="px-6 py-3 text-left text-sm font-medium text-gray-500">ID Ruta</th> -->
                    <th class="px-6 py-3 text-left text-sm font-medium text-gray-500">ID Persona</th>
                    <th class="px-6 py-3 text-left text-sm font-medium text-gray-500">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for pedido in pedidos %}
                <tr class="border-b hover:bg-gray-50">
                    <td class="px-6 py-4 text-sm font-medium text-gray-700">{{ pedido.id_pedido }}</td>
                    <td class="px-6 py-4 text-sm text-gray-700">{{ pedido.fecha_pedido}}</td>
                    <td class="px-6 py-4 text-sm text-gray-700">{{ pedido.fecha_entrega}}</td>
                    <td class="px-6 py-4 text-sm text-gray-700">{{ pedido.total}}</td>
                    <td class="px-6 py-4 text-sm text-gray-700">{{ pedido.estado }}</td>
<!--                <td class="px-6 py-4 text-sm text-gray-700">{{ pedido.id_ruta }}</td>-->
                    <td class="px-6 py-4 text-sm text-gray-700">{{ pedido.id_cliente }}</td>
                    <td class="px-6 py-4 text-sm">
                        <a href="{% url 'editar_pedido' pedido.id_pedido %}" class="inline-block bg-green-600 text-white py-2 px-4 rounded-md hover:bg-teal-700 focus:outline-none focus:ring-2 focus:ring-teal-500 text-center">
                            Editar
                        </a> |
                        <a href="{% url 'eliminar_pedido' pedido.id_pedido %}" class="inline-block bg-red-600 text-white py-2 px-4 rounded-md hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-red-500 text-center">
                            Borrar
                        </a>
                        
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="p-4 text-center">
        <a href="{% url 'crear_pedido' %}" class="inline-block bg-green-600 text-white py-2 px-4 rounded-md hover:bg-teal-700 focus:outline-none focus:ring-2 focus:ring-teal-500">
            Agregar nuevo pedido
        </a>
    </div>
</div>

{% endblock %}