{% extends 'base.html' %}

{% block titulo %}Lista de rutas{% endblock %}

{% block contenido %}

<h1 class="text-3xl font-semibold text-center text-green-600 mb-6">Lista de Rutas</h1>

<div class="bg-white">
    
    <div class="p-6">
        
        <table class="min-w-full table-auto">
            <thead class="bg-gray-100">
                <tr>
                    <th class="px-6 py-3 text-left text-sm font-medium text-gray-500">ID</th>
                    <th class="px-6 py-3 text-left text-sm font-medium text-gray-500">Nombre</th>
                    <th class="px-6 py-3 text-left text-sm font-medium text-gray-500">Descripcion</th>
                    <th class="px-6 py-3 text-left text-sm font-medium text-gray-500">Zona</th>
                    <th class="px-6 py-3 text-left text-sm font-medium text-gray-500">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for ruta in rutas %}
                <tr class="border-b hover:bg-gray-50">
                    <td class="px-6 py-4 text-sm font-medium text-gray-700">{{ ruta.id_ruta }}</td>
                    <td class="px-6 py-4 text-sm text-gray-700">{{ ruta.nombre }}</td>
                    <td class="px-6 py-4 text-sm text-gray-700">{{ ruta.descripcion }}</td>
                    <td class="px-6 py-4 text-sm text-gray-700">{{ ruta.zona }}</td>
                    
                    <td class="px-6 py-4 text-sm">
                        <a href="{% url 'editar_ruta' ruta.id_ruta %}" class="inline-block bg-green-600 text-white py-2 px-4 rounded-md hover:bg-teal-700 focus:outline-none focus:ring-2 focus:ring-teal-500 text-center">
                            Editar
                        </a> |
                        <a href="{% url 'eliminar_ruta' ruta.id_ruta %}" class="inline-block bg-red-600 text-white py-2 px-4 rounded-md hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-red-500 text-center">
                            Borrar
                        </a>
                        
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="p-4 text-center">
        <a href="{% url 'crear_ruta' %}" class="inline-block bg-green-600 text-white py-2 px-4 rounded-md hover:bg-teal-700 focus:outline-none focus:ring-2 focus:ring-teal-500">
            Agregar nueva ruta
        </a>
    </div>
</div>

{% endblock %}