{% extends 'base.html' %}
{% load static %}
{% block titulo %} Inicio {% endblock %}
{% block contenido %}

<div class="flex flex-col-reverse md:flex-row items-center justify-center bg-white py-2 px-4 md:px-8 lg:px-24 gap-2 md:gap-5">
    <!-- Texto a la izquierda en escritorio -->
    <div class="w-full md:w-1/2 space-y-4 text-center md:text-left">
      <h2 class="text-4xl font-extrabold tracking-tight text-[#00aa21] md:text-5xl lg:text-6xl leading-tight">
        Los snacks más deliciosos
      </h2>
      <p class="text-gray-600 text-lg leading-relaxed">
        ¡Snacks que no podrás dejar! Descubre nuestra amplia selección de snacks para todos los gustos.
        Tu destino favorito para los snacks más deliciosos y adictivos. Desde los clásicos sal de mar y barbacoa,
        hasta sabores atrevidos como jalapeño, camote frito y plátanos con sal de mar.
      </p>
      <div>
        <a href="{% url 'catalogoProductos' %}" class="inline-block px-8 py-3 text-lg font-semibold text-white bg-[#f70808] rounded-lg hover:bg-[#00aa21] transition duration-300">
          Comprar ahora
        </a>
      </div>
    </div>
  
    <!-- Imagen a la derecha en escritorio -->
    <div class="w-full md:w-1/2">
      <img src="imagenes/portada.png" alt="Imagen de portada" class="w-full h-full rounded-lg object-cover ">
    </div>
  </div>
  

{% endblock %}