{% extends 'base.html' %}

{% block titulo %}Lista de Detalles de Compras{% endblock %}

{% block contenido %}

<h1 class="text-3xl font-semibold text-center text-green-600 mb-6">Lista de Detalles de Facturas</h1>

<div class="bg-white">
    
    <div class="p-6">
        
        <table class="min-w-full table-auto">
            <thead class="bg-gray-100">
                <tr>
                    <th class="px-6 py-3 text-left text-sm font-medium text-gray-500">ID</th>
                    <th class="px-6 py-3 text-left text-sm font-medium text-gray-500">Cantidad</th>
                    <th class="px-6 py-3 text-left text-sm font-medium text-gray-500">Precio Unitario</th>

                    <th class="px-6 py-3 text-left text-sm font-medium text-gray-500">Impuesto Aplicado</th>
                    <th class="px-6 py-3 text-left text-sm font-medium text-gray-500">Subtotal</th>
                    <th class="px-6 py-3 text-left text-sm font-medium text-gray-500">ID Factura</th>
                    <th class="px-6 py-3 text-left text-sm font-medium text-gray-500">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for detFactura in detFacturas %}
                <tr class="border-b hover:bg-gray-50">
                    <td class="px-6 py-4 text-sm font-medium text-gray-700">{{ detFactura.id_detalle_factura }}</td>
                    <td class="px-6 py-4 text-sm text-gray-700">{{ detFactura.cantidad }}</td>
                    <td class="px-6 py-4 text-sm text-gray-700">{{ detFactura.precioUnitario }}</td>

                    <td class="px-6 py-4 text-sm text-gray-700">{{ detFactura.impuestoAplicado }}</td>
                    <td class="px-6 py-4 text-sm text-gray-700">{{ detFactura.subtotal }}</td>
                    <td class="px-6 py-4 text-sm text-gray-700">{{ detFactura.id_factura }}</td>
                    <td class="px-6 py-4 text-sm">
                        <a href="{% url 'editar_detalleFactura' detFactura.id_detalle_factura %}" class="inline-block bg-green-600 text-white py-2 px-4 rounded-md hover:bg-teal-700 focus:outline-none focus:ring-2 focus:ring-teal-500 text-center">
                            Editar
                        </a> |
                        <a href="{% url 'eliminar_detalleFactura' detFactura.id_detalle_factura %}" class="inline-block bg-red-600 text-white py-2 px-4 rounded-md hover:bg-teal-700 focus:outline-none focus:ring-2 focus:ring-teal-500 text-center">
                            Borrar
                        </a>
                        
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="p-4 text-center">
        <a href="{% url 'crear_detalleFactura' %}" class="inline-block bg-green-600 text-white py-2 px-4 rounded-md hover:bg-teal-700 focus:outline-none focus:ring-2 focus:ring-teal-500">
            Agregar nuevo Detalle Factura
        </a>
    </div>
</div>

{% endblock %}