{% extends 'base.html' %}

{% block titulo %}Agregar nuevo Detalle de Compra{% endblock %}

{% block contenido %}
<div class="max-w-3xl mx-auto bg-white p-6 rounded-lg shadow-lg mt-8">
    <h1 class="text-3xl font-semibold text-center text-green-600 mb-6">Crear un Detalle Compra</h1>

    <div class="bg-gray-50 p-6 rounded-lg shadow-md">
        <h4 class="text-2xl font-medium text-gray-800 mb-6">Datos del Detalle de Compra</h4>
        
        {% include 'lista_detalleCompras/form_detalleCompra.html' %}
    </div>

</div>
{% endblock %}